.header__search{
    position: relative;
}
.header__search-input {
    padding: 16px 25px;
    width: 450px;
    background: #f2f2f2;
    border-radius: 30px;
    border: none;
    outline: none;
    font-size: 16px;
    line-height: 19px;
    color: #7b7b7b;
    &::placeholder {
        font-size: 16px;
        line-height: 19px;
        color: #7b7b7b;
    }
}
.header__search-button{
    position: absolute;
    right: 6px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #FE5F1E;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:active{
        background-color: #d34710;
    }
}